<section>
    <div class="container">
        <div class="row">
            <div class="col-12" style="padding-left:20%">
                <div style="height:200px;width:600px; background-color:transparent;" class="text-center">
                    <h1 style="color: rgb(53, 193, 53);margin-left:11%; margin-top:25%" class=""><b>Order placed successfully</b> </h1><br>
                    <button class="btn btn-primary float-right" style="margin-right:39%;"><a href="/order-details" style="color:#fff;">view orders</a></button>
                </div>
            </div>
        </div>
    </div>
</section>